## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.ptc
*.backup

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
*Fotonika*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

#pythontex
*.pytxcode
pythontex-files-*/

# Texpad
.texpadtmp

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# WinEdt
*.bak
*.sav

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*
.gitignore.swp
slike/.svg
slike/03_Laguerre_faza2.xcf
slike/03_Laguerre_faza_old.png
slike/03_k_preslikavam.png
slike/06_FPres.svg.2019_02_12_10_12_10.0.svg
"slike/07_hrshema\\.svg"
slike/09_AO_1_backup.svg
slike/10_Vodnik.svg.2020_05_14_20_28_19.0.svg
slike/AM.agr
slike/AM.svg
slike/AMT.agr
slike/AO.agr
slike/AO.svg
slike/Absorp.agr
slike/Absorp.svg
slike/Bessel1.agr
slike/Bessel2.agr
slike/Bragg1.agr
slike/Brewster.agr
slike/Chirp.agr
slike/Chirp.png
slike/Chirp2.png
slike/Coupler.agr
slike/Couplerb.agr
slike/Depletion.agr
slike/Disperzija.agr
slike/FM.agr
slike/FM.svg
slike/Fred.agr
slike/HeNe_Laser_Levels.png
slike/HermiteGaussovi.m
slike/LCD.jpg
slike/Laser_frequency_comb_installed_on_HARPS.jpg
slike/NdYAGkristal.jpg
slike/OpticniSoliton.agr
slike/OpticniSoliton.png
slike/Petelin_gauss.py
slike/Piro.agr
slike/Poisson.agr
slike/RABI.pdf
slike/RABI.pdf_tex
slike/SekCilinder.agr
slike/Snopi.py
slike/Soliton.agr
slike/SpekterKatode.agr
slike/SpekterKatode.svg
slike/TESEK_nov.agr
slike/TESodi.agr
slike/TE_sek_krog.agr
slike/TE_sek_krog.pdf
slike/TE_sek_krog.pdf_tex
slike/TE_sek_krog.svg
slike/TEsekularna.agr
slike/Trinivojski.svg
slike/VisjiRed/
slike/Zscan.agr
slike/Zscan.png
slike/argon_ion_laser.png
slike/laguerrovi_snopi_faza_0_0.png
slike/laguerrovi_snopi_faza_0_2.png
slike/laguerrovi_snopi_faza_0_3.png
slike/laguerrovi_snopi_faza_0_4.png
slike/laguerrovi_snopi_faza_1_0.png
slike/laguerrovi_snopi_faza_1_2.png
slike/laguerrovi_snopi_faza_1_3.png
slike/laguerrovi_snopi_faza_1_4.png
slike/laguerrovi_snopi_faza_2_0.png
slike/laguerrovi_snopi_faza_2_2.png
slike/laguerrovi_snopi_faza_2_3.png
slike/laguerrovi_snopi_faza_2_4.png
slike/octave-workspace
slike/opa.agr
slike/opa.svg
slike/opagraf.svg
slike/snopi_visjih_redov.nb
